<div class="content-container" onload="aa();">
    <h1><i class="fa fa-user"></i> About As</h1>
    <hr>
    <div class="ui cards">
        <div class="card">
            <div class="image">
                <img src="http://image.ibb.co/fzVO5G/tete.png">
            </div>
            <div class="content">
                <div class="header">Tewich Tantigate</div>
                <div class="meta">
                    <a>Tete</a>
                </div>
            </div>
            <div class="extra content">
                <span>
                    tewich.tantigate@g.swu.ac.th
              </span>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="http://image.ibb.co/ksxgsw/dol.png">
            </div>
            <div class="content">
                <div class="header">Thanadol Thadasade</div>
                <div class="meta">
                    <a>Dol</a>
                </div>
            </div>
            <div class="extra content">
                <span>
                    thanadol.thadasade@g.swu.ac.th
              </span>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="http://image.ibb.co/dY0ZCw/oung.png">
            </div>
            <div class="content">
                <div class="header">Warat Saikij</div>
                <div class="meta">
                    <a>Oung</a>
                </div>
            </div>
            <div class="extra content">
                <span>
                    warat.akiba@g.swu.ac.th
              </span>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="http://image.ibb.co/erq1sw/wut.png">
            </div>
            <div class="content">
                <div class="header">Wuttipichai Karunarat</div>
                <div class="meta">
                    <a>Wut</a>
                </div>
            </div>
            <div class="extra content">
                <span>
                    wuttipichai.karunarat@g.swu.ac.th
              </span>
            </div>
        </div>
    </div>

    <hr>

</div>
