<h1><i class="fa fa-user"></i> About Us</h1>
<div class="ui items">
    <div class="item">
        <div class="ui tiny circular image">
            <img src="assets/images/te.png">
        </div>
        <div class="content">
            <div class="header">Tewich Tantigate</div>
            <div class="meta">
                <span>Tete</span>
            </div>
            <div class="description">
                <p><i class="mail icon"></i>tewich.tantigate@g.swu.ac.th</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui tiny circular image">
            <img src="assets/images/dol.png">
        </div>
        <div class="content">
            <div class="header">Thanadol Thadasade</div>
            <div class="meta">
                <span>Dol</span>
            </div>
            <div class="description">
                <p><i class="mail icon"></i>thanadol.thadasade@g.swu.ac.th</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui tiny circular image">
            <img src="assets/images/oung.png">
        </div>
        <div class="content">
            <div class="header">Warat Saikij</div>
            <div class="meta">
                <span>Oung</span>
            </div>
            <div class="description">
                <p><i class="mail icon"></i>warat.akiba@g.swu.ac.th</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui tiny circular image">
            <img src="assets/images/wut.png">
        </div>
        <div class="content">
            <div class="header">Wuttipichai Karunarat</div>
            <div class="meta">
                <span>Wut</span>
            </div>
            <div class="description">
                <p><i class="mail icon"></i>wuttipichai.karunarat@g.swu.ac.th</p>
            </div>
        </div>
    </div>
    <div class="ui yellow message">
        <i class="star icon"></i>
        Let's check our project on <a href="https://github.com/TETE3138/CP353-Project"><i class="github alternate icon"></i>github</a>.
      </div>
</div>