<div class="content-container" onload="aa();">

    <br>

    <h1><i class="fa fa-user"></i> Contact</h1>
    <hr>

    <div class="w3-container">

        <div class="w3-image" style="text-align:center">
            <img src="http://preview.ibb.co/gm5i5G/team.png" alt="Admin">
        </div>
        <br><br>
        <div class="w3-row contact-card">

            <div class="w3-col s3">
                <img src="http://image.ibb.co/ePkuCw/wut.jpg" style="width:80%;heigth:80%" class="w3-circle" alt="Wuttipichai">
            </div>
            <div class="w3-col s9">
                <h3>Wuttipichai Karunarat</h3>

                <div class="w3-container">
                    <h5><i class="fa fa-envelope contact-icon"></i>&nbsp;<a class="contact-link" href="mailto:wuttipichai.karunarat@g.swu.ac.th" target="_blank">wuttipichai.karunarat@g.swu.ac.th</a>
                    </h5>
                    <h5><i class="fa fa-facebook-official contact-icon"></i>&nbsp;<a class="contact-link" href="http://www.facebook.com/wuttipichai.karunarat" target="_blank">Wuttipichai Karunarat</a></h5>
                </div>
            </div>
        </div>
        <div class="w3-row contact-card">
            <div class="w3-col s9" style="text-align: right;">
                <h3>Thanadol Thadasade</h3>

                <div class="w3-container">
                    <h5><a href="mailto:thanadol.thadasade@g.swu.ac.th" class="contact-link" target="_blank">thanadol.thadasade@g.swu.ac.th</a>&nbsp;<i class="fa fa-envelope contact-icon"></i></h5>
                    <h5><a href="http://www.facebook.com/Thanadol.Thadasade" target="_blank" class="contact-link"> Lodi Thadasade</a>&nbsp;<i class="fa fa-facebook-official contact-icon"></i></h5>
                </div>
            </div>
            <div class="w3-col s3">
                <img src="http://image.ibb.co/cTAi5G/dol.jpg" style="width:80%;heigth:80%" class="w3-circle" alt="Thanadol">
            </div>

        </div>
        <div class="w3-row contact-card">
            <div class="w3-col s3">
                <img src="http://image.ibb.co/fM5Bsw/te.png" style="width:80%;heigth:80%" class="w3-circle" alt="Tewich">
            </div>
            <div class="w3-col s9">
                <h3>Tewich Tantigate</h3>

                <div class="w3-container">
                    <h5><i class="fa fa-envelope contact-icon"></i>&nbsp;<a href="mailto:tewich.tantigate@g.swu.ac.th" class="contact-link" target="_blank">tewich.tantigate@g.swu.ac.th</a>
                    </h5>
                    <h5><i class="fa fa-facebook-official contact-icon"></i>&nbsp;<a class="contact-link" href="https://www.facebook.com/tewich.tantigate" target="_blank">Tewich Tantigate</a></h5>
                </div>
            </div>
        </div>
        <hr>

    </div>
</div>