<div class="ui fixed inverted menu">
    <div class="ui container">
        <a routerLink="" class="header item">
            <img class="logo" src="assets/images/logoN.png"> NotebookValue
        </a>
        <a routerLink="" class="item">Home</a>
        <a routerLink="notebook" class="item">Notebook</a>
        <a routerLink="aboutus" class="item">About us</a>


        <div class="right menu" *ngIf="this.loginService.getUserLoggedIn() == true">
            <div class="ui simple dropdown item">
                <i class="star icon" *ngIf="this.loginService.isadmin"></i>Hello {{this.loginService.username}}
                <i class="dropdown icon"></i>
                <div class="right menu">
                    <div class="header">
                        <i class="user icon"></i> My Account</div>
                    <a class="item" href="#">My favourites</a>

                    <div class="divider" *ngIf="this.loginService.isadmin"></div>
                    <div class="header" *ngIf="this.loginService.isadmin">
                        <i class="settings icon icon"></i> Admin</div>
                    <div class="item" *ngIf="this.loginService.isadmin">
                        <i class="dropdown icon"></i> Manage
                        <div class="menu">
                            <a class="item" routerLink="management">Edit notebook</a>
                        </div>
                    </div>

                </div>
            </div>
            <a href="/" (click)="logOut()" class="item">
                <i class="sign out icon"></i>Log out</a>
        </div>
        <div class="right menu" *ngIf="this.loginService.getUserLoggedIn() == false">
            <a routerLink="signup" class="item">Sign Up</a>
            <a routerLink="signin" class="item">Sign In</a>
        </div>




    </div>

    <!-- <div class="right menu" *ngIf="this.loginService.getUserLoggedIn() == true">
    <a routerLink="signup" class="item"></a>
    <a routerLink="../" (click)="logOut()" class="item"><i class="sign out icon"></i>Log out</a>
</div> -->