<div class="ui fixed inverted menu">
    <div class="ui container">
        <a routerLink="" class="header item">
            <img class="logo" src="assets/images/logoN.png"> NotebookValue
        </a>
        <a routerLink="" class="item">Home</a>
        <a routerLink="aboutus" class="item">About us</a>
        <div class="ui simple dropdown item">
            Admin <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="#">Add Notebook</a>
                <a class="item" href="#">Edit Notebook</a>
                <a class="item" href="#">Delete Notebook</a>
                <div class="divider"></div>
                <div class="header">Header Item</div>
                <div class="item">
                    <i class="dropdown icon"></i> Sub Menu
                    <div class="menu">
                        <a class="item" href="#">Link Item</a>
                        <a class="item" href="#">Link Item</a>
                    </div>
                </div>
                <a class="item" href="#">Link Item</a>
            </div>
        </div>
        <div class="right menu">
            <div class="ui mini inverted segment">
                <div class="ui inverted right icon input">
                    <input type="text" placeholder="Search..." />
                    <i class="search icon"></i>
                </div>
            </div>
            <a routerLink="signup" class="item">Sign Up</a>
            <a routerLink="signin" class="item">Sign In</a>
        </div>
    </div>
</div>