<h1 class="ui header">
  <i class="heart icon"></i> My Favourites
</h1>

<div class="ui message" *ngIf="getUserLikeCount() == 0">
  <i class="close icon"></i>
  <div class="header">
    Look like you don't have any favourite!
  </div>
  <ul class="list">
    <li>You can click the heart button to add notebooks into your favourite collecion.</li>
  </ul>
</div>
<div class="ui four link cards">
  <ng-container *ngFor="let notebook of notebookList">
    <div class="card" *ngIf="notebook.like == true">
      <div class="ui image">
        <img class="ui Mini image" src="{{notebook.img_url}}" style="max-height: 200px">
      </div>
      <div class="content">
        <div class="header">{{notebook.nbname}}</div>
        <div class="meta">
          <a>{{notebook.brand}}</a>
        </div>
        <div class="description">
          {{notebook.cpu}}
          <br> RAM {{notebook.ram}} GB
          <br> {{notebook.gpu}}
        </div>
      </div>

      <div class="extra content">
        <span class="right floated">
          <div class="ui labeled button" tabindex="0" (click)="like(notebook)" onclick="$(this).transition('pulse','50 ms');">
            <!-- <div class="ui basic red button"> -->
            <div [ngClass]="{'ui':true,'basic':!notebook.like,'button':true,'red':true}">
              <i class="heart icon"></i>
            </div>
            <a class="ui basic red left pointing label">
              {{notebook.likecount}}
            </a>
          </div>
        </span>
        <span>
          <div class="ui black tag labels large">
            <a class="ui label">
              ฿{{notebook.price | number}}
            </a>
          </div>
        </span>
      </div>
    </div>
  </ng-container>
</div>