<h1 class="ui header">Sign In</h1>
<form (submit)="login(username.value,password.value)" class="ui form">
    <div class="field">
        <label>Username</label>
        <input type="text" name="first-name" placeholder="Username" style="width: 250px;">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="last-name" placeholder="Password" style="width: 250px;">
    </div>

    <button class="ui button" type="submit">Sign In</button>
    <button class="ui button" type="cancel" onclick="window.location='http://localhost:4200';return false;">Cancel</button>
</form>