<h1 class="ui header">Sign In</h1>
<form (submit)="login(username.value,password.value)" class="ui form">
    <div class="field">
        <label>Username</label>
        <input type="text" name="first-name" placeholder="Username" style="width: 250px;">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="last-name" placeholder="Password" style="width: 250px;">
    </div>

    <button class="ui button" type="submit">Sign In</button>
    
    <div class="field">
        <label>Don't have an account? <a href="http://localhost:4200/signup">Sign up</a></label> 
    </div>
</form>