<div class="ui success message" *ngIf="isUpdateSuccess == true">
    <i class="close icon" onclick="$('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
    })
  ;"></i>
    <div class="header">
        Your notebook update was successful.
    </div>
    <button class="ui green button">OK</button>
</div>

<div class="ui negative message" *ngIf="this.loginService.isadmin == 0">
    <i class="close icon" onclick="$('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
    })
  ;"></i>
    <div class="header">
        Access Denied
    </div>
    <ul class="list">
        <li>This account is not eligible to access this page. </li>
    </ul>
</div>
<div class="ui mini modal delete" *ngIf="this.loginService.isadmin == 1">
    <div class="header">Delete Comfirmation</div>
    <div class="content">

        <h4 class="ui red header">Do you really want to delete?</h4>
        <p> {{toEditNotebook.nbname}}</p>
    </div>
    <div class="actions">
        <div class="ui red button" (click)="deleteNotebook(toEditNotebook)" onclick="$('.ui.modal.delete').modal('hide');">Delete</div>
        <div class="ui cancel button">Cancel</div>
    </div>
</div>
<div class="ui grid" *ngIf="this.loginService.isadmin == 1">
    <div class="four wide column row">
        <div class="left floated column">
            <h1 class="ui header">Management</h1>
        </div>
    </div>
    <div class="four wide column row">

    </div>
    <div class="four wide right aligned floated column">

    </div>
    <div class=" four wide right aligned floated column">
        <button class="positive ui button" (click)="setAddNotebook(notebook)" onclick="$('.ui.modal.add').modal('show');">
            <i class="plus icon"></i>Add</button>

    </div>

</div>


<table class="ui striped table" *ngIf="this.loginService.isadmin == 1">
    <thead>
        <tr>
            <th class="three wide center aligned">Image</th>
            <th class="six wide">Detail</th>
            <th class="three wide">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let notebook of notebookList">
            <td class="center aligned">
                <div class="ui small image">
                    <img src="{{notebook.img_url}}" width="150px" height="150px">
                </div>
            </td>
            <td>
                <h4 class="ui red header">
                    <div class="ui red horizontal label">{{notebook.brand}} </div> {{notebook.nbname}}
                </h4>
                {{notebook.cpu}}
                <br> {{"RAM : " +notebook.ram + " GB"}}
                <br> {{notebook.gpu}}
                <br> {{"HDD : "+notebook.hdd + " TB"}}
                <br> {{"Display : "+notebook.display + '"'}}
                <br>
            </td>
            <td>
                <div class="ui small basic icon buttons">
                    <button class="ui button" data-tooltip="Delete" data-inverted="" (click)="setEditNotebook(notebook)" onclick="$('.ui.mini.modal.delete').modal('show');">
                        <i class="trash icon"></i>
                    </button>
                    <button class="ui button" data-tooltip="Edit" (click)="setEditNotebook(notebook)" onclick="$('.ui.modal.edit').modal('show');" data-inverted="">
                        <i class="write icon"></i>
                    </button>
                    <button class="ui button" data-tooltip="View detail page" data-inverted="">
                        <i class="reply icon"></i>
                    </button>
                </div>
            </td>
        </tr>

    </tbody>
</table>

<div class="ui modal edit" *ngIf="this.loginService.isadmin == 1">
    <div class="header">Edit</div>
    <div class="image content">
        <div class="ui fluid rounded image middle aligned spaced">
            <img src="{{toEditNotebook.img_url}}" width="300px" height="300px">
        </div>

        <div class="ui grid">
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.brand != ''}">
                    <label for="brand" class="ui label">Brand</label>
                    <input type="text" id="brand" [(ngModel)]="toEditNotebook.brand" size="20" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.brand != ''" [attr.data-tooltip]="this.errorMsgNotebook.brand" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.nbname != ''}">
                    <label for="name" class="ui label">Name</label>
                    <input type="text" id="name" [(ngModel)]="toEditNotebook.nbname" size="25" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.nbname != ''" [attr.data-tooltip]="this.errorMsgNotebook.nbname" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.cpu != ''}">
                    <label for="cpu" class="ui label">CPU</label>
                    <input type="text" id="cpu" [(ngModel)]="toEditNotebook.cpu" size="30" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.cpu != ''" [attr.data-tooltip]="this.errorMsgNotebook.cpu" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.gpu != ''}">
                    <label for="gpu" class="ui label">GPU</label>
                    <input type="text" id="gpu" [(ngModel)]="toEditNotebook.gpu" size="25" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.gpu != ''" [attr.data-tooltip]="this.errorMsgNotebook.gpu" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.ram != ''}">
                    <label for="ram" class="ui label">RAM</label>
                    <input type="text" id="ram" [(ngModel)]="toEditNotebook.ram" size="1" type="number" min="1" step="1" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.ram != ''" [attr.data-tooltip]="this.errorMsgNotebook.ram" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.hdd != ''}">
                    <label for="hdd" class="ui label">HDD</label>
                    <input type="text" id="hdd" [(ngModel)]="toEditNotebook.hdd" size="1" type="number" min="0.5" step="1" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.hdd != ''" [attr.data-tooltip]="this.errorMsgNotebook.hdd" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.os != ''}">
                    <label for="os" class="ui label">OS</label>
                    <input type="text" id="os" [(ngModel)]="toEditNotebook.os" size="20" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.os != ''" [attr.data-tooltip]="this.errorMsgNotebook.os" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.display != ''}">
                    <label for="display" class="ui label">Display</label>
                    <input type="text" id="displays" [(ngModel)]="toEditNotebook.display" size="7" type="number" min="0" step="1" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.display != ''" [attr.data-tooltip]="this.errorMsgNotebook.display" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.price != ''}">
                    <label for="price" class="ui label">Price</label>
                    <input type="text" id="price" [(ngModel)]="toEditNotebook.price" size="40" type="number" min="0" step="1" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.price != ''" [attr.data-tooltip]="this.errorMsgNotebook.price" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="sixteen wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.img_url != ''}">
                    <label for="img_url" class="ui label">Image Url</label>
                    <input type="text" id="img_url" [(ngModel)]="toEditNotebook.img_url" size="70" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.img_url != ''" [attr.data-tooltip]="this.errorMsgNotebook.img_url" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="sixteen wide column">
                <div class="ui buttons right floated ">
                    <button class="ui button" (click)="cancelEdit()" onclick="$('.ui.modal.edit').modal('hide');">Cancel</button>
                    <div class="or"></div>
                    <button class="ui positive button" (click)="editNotebook(toEditNotebook)">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="ui modal add" *ngIf="this.loginService.isadmin == 1">
    <div class="header">
        <i class="plus icon"></i> Add new notebook</div>
    <div class="image content">
        <div class="ui fluid rounded image middle aligned spaced">
            <img src="{{toEditNotebook.img_url || 'https://secure.hmepowerweb.com/Resources/Images/NoImageAvailableLarge.jpg'}} " alt="Please enter image url" width="300px" height="300px">
        </div>

        <div class="ui grid">
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.brand != ''}">
                    <label for="brand" class="ui label">Brand</label>
                    <input type="text" id="brand" [(ngModel)]="toEditNotebook.brand" size="20" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.brand != ''" [attr.data-tooltip]="this.errorMsgNotebook.brand" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.nbname != ''}">
                    <label for="name" class="ui label">Name</label>
                    <input type="text" id="name" [(ngModel)]="toEditNotebook.nbname" size="25" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.nbname != ''" [attr.data-tooltip]="this.errorMsgNotebook.nbname" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.cpu != ''}">
                    <label for="cpu" class="ui label">CPU</label>
                    <input type="text" id="cpu" [(ngModel)]="toEditNotebook.cpu" size="30" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.cpu != ''" [attr.data-tooltip]="this.errorMsgNotebook.cpu" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.gpu != ''}">
                    <label for="gpu" class="ui label">GPU</label>
                    <input type="text" id="gpu" [(ngModel)]="toEditNotebook.gpu" size="25" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.gpu != ''" [attr.data-tooltip]="this.errorMsgNotebook.gpu" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.ram != ''}">
                    <label for="ram" class="ui label">RAM</label>
                    <input type="text" id="ram" [(ngModel)]="toEditNotebook.ram" size="1" type="number" min="1" step="1" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.ram != ''" [attr.data-tooltip]="this.errorMsgNotebook.ram" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.hdd != ''}">
                    <label for="hdd" class="ui label">HDD</label>
                    <input type="text" id="hdd" [(ngModel)]="toEditNotebook.hdd" size="1" type="number" min="0.5" step="1" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.hdd != ''" [attr.data-tooltip]="this.errorMsgNotebook.hdd" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.os != ''}">
                    <label for="os" class="ui label">OS</label>
                    <input type="text" id="os" [(ngModel)]="toEditNotebook.os" size="20" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.os != ''" [attr.data-tooltip]="this.errorMsgNotebook.os" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.display != ''}">
                    <label for="display" class="ui label">Display</label>
                    <input type="text" id="displays" [(ngModel)]="toEditNotebook.display" size="7" type="number" min="0" step="1" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.display != ''" [attr.data-tooltip]="this.errorMsgNotebook.display" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.price != ''}">
                    <label for="price" class="ui label">Price</label>
                    <input type="text" id="price" [(ngModel)]="toEditNotebook.price" size="40" type="number" min="0" step="1" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.price != ''" [attr.data-tooltip]="this.errorMsgNotebook.price" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="sixteen wide column">
                <div [ngClass]="{'ui':true,'right':true,'corner':true,'labeled':true,'input':true,'error':this.errorMsgNotebook.img_url != ''}">
                    <label for="img_url" class="ui label">Image Url</label>
                    <input type="text" id="img_url" [(ngModel)]="toEditNotebook.img_url" size="70" required>
                    <div class="ui icon" *ngIf="this.errorMsgNotebook.img_url != ''" [attr.data-tooltip]="this.errorMsgNotebook.img_url" data-inverted="">
                        <i class="warning circle icon red"></i>
                    </div>
                </div>
            </div>
            <div class="sixteen wide column">
                <div class="ui buttons right floated ">
                    <button class="ui button" (click)="cancelEdit()" onclick="$('.ui.modal.add').modal('hide');">Cancel</button>
                    <div class="or"></div>
                    <button class="ui positive button" (click)=" addNoteBook()">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>