<footer>
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <h4>NotebookValue Project</h4>

      <img src="assets/images/logoN.png" class="ui centered mini image">
      <div class="ui inverted section divider"></div>
      <div class="ui horizontal inverted small divided link list">
        <a class="item" routerLink="home">Home</a>
        <a class="item" routerLink="aboutus">About Us</a>
        <a class="item" href="https://github.com/TETE3138/CP353-Project">GitHub</a>
      </div>
    </div>
  </div>
</footer>