<footer>
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <h4>NotebookValue Project</h4>

      <img src="assets/images/logoN.png" class="ui centered mini image">
      <div class="ui inverted section divider"></div>
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" routerLink="aboutus">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
