<h1 class="ui header">Sign Up</h1>
<form class="ui form">
    <div class="field">
        <label>Username</label>
        <input type="text" name="first-name" placeholder="Username" style="width: 300px;">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="last-name" placeholder="Password" style="width: 300px;">
    </div>
    <div class="field">
        <label>Confirm Password</label>
        <input type="password" name="last-name" placeholder="Confirm Password" style="width: 300px;">
    </div>
    <div class="field">
        <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>I agree to the Terms and Conditions</label>
        </div>
    </div>
    <button class="ui button" type="submit">Submit</button>
</form>